*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100vw;
    justify-content: center;
    align-items: center;
    font-family:  sans-serif;
    background-color: #fff7db;
    border-radius: 15px;
}
.main{
    border:2px solid white;
    height:1700px;
    width:380px;
    padding:20px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
}
img{
    height:250px;
    width:336px;
    border-radius:20px;
}
.a{
    font-size:15px; 
   font-family: sans-serif;
}
.b{
    font-size:15px; 
   font-family: sans-serif;
}
.c{
    font-size:15px; 
   font-family: sans-serif;
}
p{
   font-size:15px; 
   font-family: sans-serif;
}
h2{
    font-size:20px;
    font-family: sans-serif;
}
h4{
   font-size:20px;
   font-family: sans-serif;
}
h4{
    font-size:20px;
    font-family: sans-serif;
}
h4{
    font-size:20px;
    font-family: sans-serif;
}
